#!/bin/bash

# If file '.env' does not exist print error
if [ ! -f .env ]; then
    echo "Please create a .env file with the following content:"
    echo ""
    echo "export GH_SOURCE_PAT='<SOURCE ORG PAT>'"
    echo "export GH_TARGET_PAT='<TARGET ORG PAT>'"
    exit 1
fi

source .env.pats
export GITHUB_TOKEN=${source_pat}

##########################################
# Add announcement to orgs
##########################################

message="**This Organization is being migrated.  All repositories have been archived.  Please do not unarchive them.  For more information please reach out to <client contact>.**"
expires_at="2024-04-26T01:00:00.000+00:00"

{%- for org in orgs %}
gh api --method PATCH -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" \
    orgs/{{ org["source_name"] }}/announcement \
    -f "announcement=${message}" \
    -f "expires_at=${expires_at}" \
    -F "user_dismissible=false"
{%- endfor %}


##########################################
# Remove announcement from orgs
# - uncomment to use
##########################################

{%- for org in orgs %}
# gh api --method DELETE -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /orgs/{{ org["source_name"] }}/announcement
{%- endfor %}
